* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
    font-size: 62.5%; 
    /* 1rem = 10px */
    font-family: sans-serif;
}
:root{
    --primary--navigation--color: #007294;
    --primary-font-color: #fff;
    --secondary--navigation--color: #008fbb;
}

/* .header
{

} */

.header_navigation{
    background-color: var(--primary--navigation--color);
    height: 14rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border: 5px solid red; */
}

.header_navigation-container{
    display: flex;
    align-items:center;
    justify-content: space-between;
    /* border: 5px solid blue; */
    width:58%;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    height: 70%;
    border-radius: 0.5rem;
    padding: 4rem;

}

.header_navigation-heading{
    font-size: 43.2px;
    color: var(--primary-font-color);
    font-weight: 200;
}

.header_navigation-list{
    display: flex;
    list-style: none;
    gap: 3rem;
}


.header_navigation-links{
    font-size: 23.4px;
    color: var(--primary-font-color);
    text-decoration: none;
}

.header_section{
    height: 40rem;
    background-image: url('./imgs/outer-image');
    display: flex;
    align-items: center;
    justify-content: center;
}

.section_container{
    height: 65%;
    width: 60%;
    background-image: url(./imgs/inner-container-image);
    border: 2rem solid white ;
    border-radius: 1.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* .section_heading{

} */

.section_heading span{
    color: var(--primary-font-color);
    display: block;
    margin-bottom: 2rem;
    font-weight: 600;
}

.section_heading-span1{
    text-transform: lowercase;
    font-size: 4rem;
}

.section_heading-span2{
    font-size: 2rem;
}
    