* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

nav{
    display: flex;
    height: 80px;
    background-color: tomato;
    color: white;
    align-items: center;
    justify-content: space-around;
}
nav ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}


button{
    padding: 10px 20px;
    border: none;
    background-color: navy;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
